@media (min-width: 1000px) {
  body:after{
    position: absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url('../assets/img/menu_backgrounds/menu__main.jpg') url('../assets/img/menu_backgrounds/menu__dance_artist.jpg') url('../assets/img/menu_backgrounds/menu__choreographer.jpg') url('../assets/img/menu_backgrounds/menu__educator.jpg') url('../assets/img/menu_backgrounds/menu__on_the_move.jpg');
  }

  .menu__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../assets/img/menu_backgrounds/menu__main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    transition: background-image .4s ease-in-out .2s;
  }

  .menu__items {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
  }

  .items__item {
    padding: 20px 0;
    margin: 0;
    position: relative;
    z-index: 100;
    transition: .2s ease-in .35s;
  }

  .items__item:hover {
    color: #D1D2CF;
  }

  .items__item:before {
    transition: .3s;
  }

  .items__item:hover:before {
    transform: translateY(40px);
    width: 50px;
    background-color: #D1D2CF;
  }

  .heroimage {
    justify-content: center;
    align-items: flex-end;
  }

  .heroimage__text {
    position: relative;
    right: 150px;
    margin: 0;
    width: 180px;
    text-align: left;

    h1 {
      @include textspace(25px, 1.2);
    }

    p {
      @include textspace(14px, 1.4);
    }
  }
}

@media (min-width: 1400px) {
  .menu__items {
    width: 50%;
  }

  .heroimage__text {
    right: 250px;
    width: 200px;

    h1 {
      @include textspace(30px, 1.2);
    }

    p {
      @include textspace(16px, 1.4);
    }
  }
}