@media(min-width: 1000px) {
  .heroimage__text--subsites {
    right: 50px;
  }

  .story {
    width: 95%;
    margin: 0 auto;
    padding-top: 100px;
  }

  .story__single {
    width: 100%;
    align-items: normal;
    flex-direction: column;
    margin: 0 auto -100px auto;
  }

  .story__single .single__photo {
    margin: 0;
  }

  // Modifiers

  .story__single--notext {
    margin-top: 200px;
  }

  .story__single--vertical {
    width: 100%;
    margin: 0 auto;
  }

  .story__single--vertical .single__photo {
    width: 500px;
    height: 700px;
  }

  .story__single--fullsize {
    width: 100%;
    margin: 200px 0 100px 0;
  }

  .story__single--fullsize .single__photo {
    width: 90%;
  }

  .story__single--video {
    width: 80%;
    margin: 0 auto;
  }

  .story__single--video .single__photo {
    width: unset;
    height: unset;
  }
  //
  //.story__single--video .single__photo {
  //  left: -30vw;
  //}

  .story__single:nth-child(odd) .single__text,
  .story__single:nth-child(even) .single__photo {
    align-self: flex-start;
  }
  .story__single:nth-child(even) .single__text,
  .story__single:nth-child(odd) .single__photo {
    align-self: flex-end;
  }

  .single__text {
    position: relative;
    z-index: 999;
    width: 500px;
    background: white;
    border-radius: 1px;
    box-shadow: $box-shadow;
    padding: 60px 40px;
    @include textspace(13px, 1.5);
  }

  .single__photo {
    width: 700px;
    height: 450px;
  }

  .single__sidetext {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 250px;
    box-shadow: none;
    background: none;

    h1 {
      font-family: $playfair;
      @include textspace(18px, 1.2);
    }

    p {
      @include textspace(12px, 1.5);
    }
  }

  .story__single:nth-child(odd) .single__sidetext {
    left: -155px;
  }

  .story__single:nth-child(even) .single__sidetext {
    left: unset;
    right: -155px;
  }

}


@media(min-width:1250px) {
  .single__photo {
    width: 850px;
    height: 600px;
  }

  .story__single--vertical {
    width: 70%;
    margin: 0 auto;
  }

  .story__single--vertical .single__photo {
    width: 500px;
    height: 700px;
  }
}

@media(min-width:1420px) {
  .story {
    width: 100%;
  }

  .story__single {
    width: 90%;
  }

  .single__text {
    padding: 70px;
    width: 600px;
  }

  .story__single--vertical {
    width: 70%;
  }

  .story__single--vertical .single__photo {
    width: 600px;
  }

  .story__single--vertical .single__text {
    top: -100px;
  }
}

@media(min-width:1600px) {
  .single__photo {
    width: 1000px;
    height: auto;
  }

  .story__single--fullsize {
    margin: 200px auto -100px auto;
  }
}

@media(min-width:1800px) {
  .story__single {
    width: 80%;
  }

  .story__single--vertical {
    width: 60%;
  }
}