@media (min-width: 1000px) {

  /* Heroimage - home page sequence */
  .heroimage--home::after{
    position: absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url('../assets/img/sequence/seq_1.jpg') url('../assets/img/sequence/seq_2.jpg') url('../assets/img/sequence/seq_3.jpg') url('../assets/img/sequence/seq_4.jpg') url('../assets/img/sequence/seq_5.jpg') url('../assets/img/sequence/seq_6.jpg') url('../assets/img/sequence/seq_7.jpg') url('../assets/img/sequence/seq_8.jpg') url('../assets/img/sequence/seq_9.jpg') url('../assets/img/sequence/seq_10.jpg') url('../assets/img/sequence/seq_11.jpg') url('../assets/img/sequence/seq_12.jpg') url('../assets/img/sequence/seq_13.jpg') url('../assets/img/sequence/seq_14.jpg') url('../assets/img/sequence/seq_15.jpg') url('../assets/img/sequence/seq_16.jpg');
  }
  .imgAdd {
    background-position:  70% 70% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  .img--1 {
    background: url('../assets/img/sequence/seq_1.jpg');
  }
  .img--2 {
    background: url('../assets/img/sequence/seq_2.jpg');
  }
  .img--3 {
    background: url('../assets/img/sequence/seq_3.jpg');
  }
  .img--4 {
    background: url('../assets/img/sequence/seq_4.jpg');
  }
  .img--5 {
    background: url('../assets/img/sequence/seq_5.jpg');
  }
  .img--6 {
    background: url('../assets/img/sequence/seq_6.jpg');
  }
  .img--7 {
    background: url('../assets/img/sequence/seq_7.jpg');
  }
  .img--8 {
    background: url('../assets/img/sequence/seq_8.jpg');
  }
  .img--9 {
    background: url('../assets/img/sequence/seq_9.jpg');
  }
  .img--10 {
    background: url('../assets/img/sequence/seq_10.jpg');
  }
  .img--11 {
    background: url('../assets/img/sequence/seq_11.jpg');
  }
  .img--12 {
    background: url('../assets/img/sequence/seq_12.jpg');
  }
  .img--13 {
    background: url('../assets/img/sequence/seq_13.jpg');
  }
  .img--14 {
    background: url('../assets/img/sequence/seq_14.jpg');
  }
  .img--15 {
    background: url('../assets/img/sequence/seq_15.jpg');
  }
  .img--16 {
    background: url('../assets/img/sequence/seq_16.jpg');
  }

  .bio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .bio__avatar {
    display: block;
    width: 290px;
    height: 290px;
    clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
    background: url('../assets/img/mainpage__avatar.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 50%;
    background-position: 15% 50%;
  }

  .bio__info {
    width: 400px;
    margin: 0;
    @include textspace(12px, 1.5);
  }
}

@media (min-width: 1200px) {
  .bio__avatar {
    width: 380px;
    height: 380px;
    background-size: 50%;
    background-position: 20% 20%;
  }

  .bio__info {
    width: 450px;
    @include textspace(13px, 1.5);
  }
}

@media (min-width: 1400px) {
  .imgAdd {
    background-position: 100% 70% !important;
  }

  .bio__avatar {
    width: 450px;
    height: 450px;
    background-size: 40%;
    background-position: 25% 20%;
  }

  .bio__info {
    width: 500px;
  }
}

@media (min-width: 1600px) {
  .bio__avatar {
    width: 500px;
    height: 500px;
    background-size: 35%;
    background-position: 28% 20%;
  }

  .bio__info {
    width: 550px;
    @include textspace(14px, 1.5);
  }
}