.heroimage--dance_artist {
  background: url('../assets/img/dance_artist/danceartist__top.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

.heroimage__text--subsites {
  h1 {
    text-transform: lowercase;
    font-size: 1em;
  }

  p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
  }
}

.story {
  height: auto;
  padding: 20px 0;
}

.story__single {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single__text {
  font-family: $montserrat;
  @include textspace(12px, 1.5);
  width: 100%;
  padding: 25px 15px;

  p {
    margin: 0;
  }
}

.single:nth-child(1) .single__photo {
  background: url('../assets/img/dance_artist/danceartist_01.png');
  background-size: cover;
  background-position: center;
}

.single:nth-child(2) .single__photo {
  background: url('../assets/img/dance_artist/danceartist_02.png');
  background-size: cover;
  background-position: 100% 50%;
}

.single:nth-child(3) .single__photo {
  background: url('../assets/img/dance_artist/danceartist_03.png');
  background-size: cover;
  background-position: center;
}

.single:nth-child(4) .single__photo {
  background: url('../assets/img/dance_artist/danceartist_04.png');
  background-size: cover;
  background-position: center;
}

.single__photo {
  margin: 20px 0;
  width: 100%;
  height: 50vh;
  position: relative;
  padding: 20px 15px;
}

.single__sidetext {
  width: auto;
  background: $bgcolor;
  padding: 5px 25px 5px 50px;
  position: absolute;
  bottom: 5%;
  left: -15px;
  color: $black;
  box-shadow: $box-shadow;

  h1 {
    margin: 0;
    font-family: $montserrat;
    font-weight: 600;
    @include textspace(13px, 1.5);
  }

  p{
    margin: 0;
    font-family: $montserrat;
    font-weight: 300;
    @include textspace(10px, 1.5);
  }
}

@media(min-width:700px) {
  .single:nth-child(4) .single__photo {
    background: url('../assets/img/dance_artist/danceartist_04.png');
    background-size: cover;
    background-position: 50% 30%;
  }
}